*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-inline-size: 320px;
  margin: 0;
  font-family: var(--main-font), sans-serif;
  font-size: var(--main-font-size, 18px);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  list-style: none;
}

a,
button,
input,
textarea {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}