*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-contrast: more) { 
  body {
  display: grid;
  place-items: center;
  min-block-size: 100dvb;
  margin: 0;
  padding: 2em;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  background-color: rgb(255 0 0);
  background-image: none;
  background-position: center;
  background-size: cover;
  color: rgb(255 255 255);
  }
}

.title {
  margin: 0;
  padding: 0.2em;
  font-size: clamp(2.5rem, 0.8929rem + 7.1429vi, 6.25rem);
  text-transform: uppercase;
  background-color: rgb(255 0 0 / 0.5);
}
