*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  gap: 2em;
  min-block-size: 100dvb;
  margin: 0;
  font-family: var(--main-font-family), sans-serif;
  font-size: var(--main-text-size, 18px);
  background-color: #fff;
  background-image: var(--bg-pattern);
}

.filter-form {
  display: grid;

  /* Здесь нужны стили для оформления колонок */
  gap: 0.5em;
  inline-size: 95%;
  border: 1px solid #000;
  padding: 1em;
  background-color: #80d994;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.checkbox {
  display: block;
  cursor: pointer;
}

.checkbox__hashtag {
  display: block;
  border: 1px solid var(--black);
  padding: 10px 65px;
  opacity: 0.6;
  color: var(--black);
  font-family: inherit;
  font-weight: 800;
  font-size: inherit;
  text-align: center;
  text-transform: uppercase;
  background-color: var(--yellow);
}

.checkbox__input:checked + .checkbox__hashtag {
  opacity: 1;
}

.checkbox__input:focus-visible + .checkbox__hashtag {
  outline: 1px solid var(--black);
}
