:root {
  --bg-pattern: url(https://code.s3.yandex.net/web-code/images/dotted.svg);
  --bg-pattern-additional: url(https://code.s3.yandex.net/web-code/images/dotted-l.svg);
  --main-font-family: 'Open Sans';
  --main-text-size: 18px;
  --black: #000;
  --gray: #c4c4c4;
  --white: #fff;
  --pink: #feafe8;
  --fuchsia: #fd24af;
  --yellow: #ffc802;
  --green: #80d994;
  --blue: #6dc1fd;
  --purple: #5f0dee;
}
